<!--Featured Work-->
<%featured_work = Work.choose_featured_work %>
<h1>Featured Work: <%= link_to featured_work.title, work_path(featured_work.id) %> </h1>

<!--Top Ten-->
<article class="top-media-container">
  <%= render partial: "top_ten", locals: {works_name: "Books", work_name: "book"} %>
  <%= render partial: "top_ten", locals: {works_name: "Albums", work_name: "album"} %>
  <%= render partial: "top_ten", locals: {works_name: "Movies", work_name: "movie"} %>
</article>